<section class="flex flex-col gap-4 mt-24 pb-8 border-b">

  <!-- Cover -->
  <div class="w-full aspect-video overflow-hidden rounded-b-lg">
    <img
      [src]="chronicle()?.coverUrl"
      [alt]="chronicle()?.title"
      class="w-full h-full object-cover"
    />
  </div>

  @if (chronicle(); as chronicle) {

    <article class="w-full max-w-3xl mx-auto px-4 sm:px-0 mt-12 mb-24">

      <!-- Title -->
      <h2 class="text-4xl sm:text-6xl font-black mb-6 leading-tight">
        {{ chronicle.title }}
      </h2>

      <!-- Quote -->
      <blockquote class="text-xl italic text-accent1 mb-6">
        {{ chronicle.quote }}
      </blockquote>

      <!-- Date -->
      <p class="text-sm text-accent2 mb-12">
        Publié le {{ chronicle.publishedAt | date:'dd/MM/yyyy' }}
      </p>

      <!-- Content -->
      <div class="text-content mt-8 px-4 py-4 border-t max-w-3xl mx-auto">

        @for (paragraph of chronicle.content.trim().split('\n\n'); track $index) {
          <p class="text-lg leading-7 mb-4">
            {{ paragraph }}
          </p>
        }

      </div>

      <!-- Comments -->
      <section class="max-w-3xl mx-auto px-4 sm:px-0 mt-12 mb-24">

        <div class="flex flex-col items-center gap-2 mb-6 sm:flex sm:flex-row sm:justify-between sm:items-center">

          <h3 class="text-2xl font-bold">
            Commentaires ({{ comments().length }})
          </h3>

          <!-- Modal / ajout de commentaire à faire plus tard -->

        </div>

        @if (comments().length === 0) {

          <p class="text-center sm:text-left text-accent2 italic">
            Aucun commentaire pour le moment.
          </p>

        } @else {

          <div class="flex flex-col gap-6">

            @for (comment of comments(); track comment.id) {
              <app-comment-card [comment]="comment" />
            }

          </div>

        }

      </section>

    </article>

  }

</section>