<footer class="flex justify-center bg-accent2 text-white border-t">
  <nav>
    <ul class="flex">
      <li class="hidden sm:block sm:p-2">
        <a routerLink="/">Accueil</a>
      </li>

      <li class="hidden sm:block sm:p-2">
        <a routerLink="/books">Livres</a>
      </li>

      <li class="hidden sm:block sm:p-2">
        <a routerLink="/chronicles">Chroniques</a>
      </li>

      <li class="hidden sm:block sm:p-2">
        <a routerLink="/about">À propos</a>
      </li>

      <li class="hidden sm:block sm:p-2">
        <a routerLink="/contact">Contact</a>
      </li>

      <li class="p-2">
        <a routerLink="/legal">Mentions légales</a>
      </li>
    </ul>
  </nav>
</footer>
