<form
  [formGroup]="newsletterForm"
  (ngSubmit)="handleSubmit()"
  class="flex flex-col gap-2 w-full max-w-sm"
>
  <input
    type="email"
    formControlName="email"
    placeholder="Votre e-mail"
    class="bg-white text-black p-2 rounded border border-gray-300 focus:border-accent1 focus:ring-0 outline-none"
  />

    <div class="h-4 m-2 text-sm">
        @if (newsletterForm.controls.email.touched) {
        @if (newsletterForm.controls.email.hasError('required')) {
          <p>L'e-mail est obligatoire.</p>
        }
      
        @if (newsletterForm.controls.email.hasError('email')) {
          <p>Veuillez saisir une adresse e-mail valide.</p>
        }
      }
        
    </div>
  <button
    type="submit"
    [disabled]="newsletterForm.invalid"
    class="bg-accent1 text-white p-2 rounded hover:bg-white hover:text-accent1 border border-accent1 transition-all duration-500"
  >
    S'inscrire
  </button>


</form>